/* #f9f9f9 - white
 * #eda60c - orange */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



/* CUSTOM STYLES
末末末末末末末末末末末末末末末末末末末末末末末末末 */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

body {
	background: #ededed;
	font-family: 'Alegreya Sans SC', sans-serif;
}

h4 {
	font: 1em 'Open sans', sans-serif;
	font-size: 21px;
	margin: 0 auto;
	text-align: center;
	background: #f9f9f9;
	color: black;
	padding: 3px 0;
}

li {
	margin: 0;
}

a {
	font-size: 18px;
	text-decoration: none;
}

span {
	display: block;
	font-size: .75em;
	position: relative;
	top: 5px;
}

.multi {
	display: inline;
	top: 0;
	left: 3px;
}

img {
	max-width: 100%;
}

.programs,
.courses {
	margin: 8px 0 0 0;
}

.programs {
	font-size: 0;
	margin-bottom: 15px;
}

.programs button {
	outline: none;
	margin-bottom: 0;
	width: 50%;
	height: auto;
	font-weight: normal;
	border: 1px solid #ededed;
	color: #000000;
	font-size: 14px;
	padding: 4px 0;
	text-shadow: 0px 0px 0px #2f6627;
}

.programs button:hover {
	background-color: #eda60c;
}

.programs button.programs-filter-btn-active,
.programs button.programs-sort-btn-active {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset, 0px 0px 1px transparent;
	background: #3a9fbf;
	color: white;
}

.courses {
	margin-bottom: 15px;
	font-size: 0;
}

.courses li {
	text-align: center;
	font-size: 14px;
	display: inline-block;
	width: 10%;
	margin: 0 2%;
}

.courses a {
	display: block;
	height: 60px;
	margin: 15px 0;
	padding-top: 12.5px;
	background: whitesmoke;
	color: black;
	border: 1px solid white;
	transition: all .4s ease;
}

.courses a:hover {
	background-color: #eda60c;
}

.p, .p a {
  font-size: 14px;
  text-align: center;
}


/* MEDIA QUERIES STYLES
末末末末末末末末末末末末末末末末末末末末末末末末末 */

@media only screen and (min-width: 750px) {

	.container {
		width: 95%;
	}

	.courses a {
		background: #f9f9f9;
		border: none;
	}

	h4 {
		width: 50%;
		margin-top: 12px;
	}

	img {
		margin-bottom: 0;
	}

	.programs {
		margin-bottom: 0;
	}

	.programs button {
		width: 25%;
		margin-bottom: 15px;
	}

	.courses li {
		width: 15%;
	}

}

body {
	background-color: #333;
	color: #f9f9f9;
	font: 1em 'Open sans', sans-serif;
}

.test{
	left: 10px;
	-webkit-transition: left 4s ease;
}

.menu {
	border: 1px solid;
	border-image: linear-gradient(to top, transparent, #f9f9f9 20%, #f9f9f9 80%, transparent) 0 0 0 1;
	margin-left: 100px;
	display: inline-block;
}

.menu-list {
	list-style-type: none;
	margin: 0 5px;
	padding: 0;
	position: relative;
}

.menu-list:before {
	position: absolute;
	content: '';
	border-right: 25px solid #f9f9f9;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -30px;
	top: calc(50% - 10px);
}

.menu-list:after {
	position: absolute;
	content: '';
	border: 3px solid #333;
	border-radius: 50%;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
}

.menu-list-item {
	background-color: #f9f9f9;
	color: #494748;
	width: 150px;
	padding: 15px 25px;
	margin-bottom: 5px;
}

.menu-list-item:last-child {
	margin-bottom: 0;
}

.menu-list-item:hover {
	cursor: pointer;
	background-color: #eda60c;
	color: #f9f9f9;
}